
section{
    height: 100vh;
    padding-top: 5vh;
    padding-left: 3rem;
    padding-right: 3rem;
    font-weight: 900;

}
.events-section {
    text-align: center;
  }
  
  .quote {
    margin-bottom: 20px;
  }
  
  .quote p {
    font-size: 18px;
    font-style: italic;
    color: #df0b0b;
    font-weight: 900;
    padding-top: 4vh;
    padding-bottom: 4vh;
    
  }
  
  .event-card {
    background-color: #f0f0f0;
    border-radius: 20px;
    padding: 20px;
    box-shadow: 10px 10px 20px #cbced1, -10px -10px 20px #ffffff;
    display: inline-block;
  }